<html xmlns:th="https://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Cart</h1>
<div th:replace="header :: header"></div>
<ul>
    <tr th:each="cartLine : ${session.cart}">
        Title "<td th:text="${cartLine.key.title}"></td>"
        Cost <td th:text="${cartLine.key.cost}"></td>
        Count <td th:text="${cartLine.value}"></td>

        <form action="#" th:action="@{/removeFromCart}" method="post">
            <input type="hidden" th:value="${cartLine.key.id}" name="id"/>
            <input type="hidden" th:value="${cartLine.key.title}" name="title"/>
            <input type="hidden" th:value="${cartLine.key.cost}" name="cost"/>
            <p><input type="submit" value="Remove from cart"/></p>
        </form>

        <br>
    </tr>
    <p>Total cost </p>
    <h1 th:text="${totalCost}"></h1>
</ul>
<form action="#" th:action="@{/order/save}" method="post">
<!--    <input type="hidden" th:value="${session.cart}" name="items"/>-->
    <p><input type="submit" value="Save order"/></p>
</form>
</body>
</html>